.sidebar{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 9px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(224, 219, 219);
}

.home{
    height: 24px;
    margin-bottom: 5px;
}

.title{
    font-size: 10px;
    font-family: Roboto, Arial;
    font-weight: 500;
}